.ListItem {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #17521c;
    background-color: #17521c;
    text-align: center;
    cursor: pointer;
}

.ListItem:hover,
.ListItem:active {
    background-color: #6aa387;
}